<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Movimiento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>



    <ion-row justify-content-center>





      <ion-col size="12" size-md="9">
        <h2>

        </h2>
        <ion-item>

         
          <ion-input type="text" value="" [(ngModel)]="fecha"
            clearInput placeholder="fecha"></ion-input>
        </ion-item>

        <ion-item>
         
          <ion-input type="text" value="" [(ngModel)]="Descripcion"
            clearInput  placeholder="Descripcion" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Ingreso </ion-label>
          <ion-input type="text" value="" [(ngModel)]="ingreso"
            clearInput  placeholder="ingreso" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Egreso </ion-label>
          <ion-input type="text" value="" [(ngModel)]="egreso"
            clearInput placeholder= "egreso" required></ion-input>
        </ion-item>

        <ion-item>
         
          <ion-input type="text" value="" [(ngModel)]="idproducto"
            clearInput  placeholder="idproducto" required></ion-input>
        </ion-item>


        <ion-item>
          <ion-label>

            <ion-button

              size="large" (click)="CrearMovimiento()"
              mode="ios"
              class="btn-primary"
              shape="round"
              expand="full">Crear Movimiento</ion-button>

          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
