<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Producto
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>



    <ion-row justify-content-center>





      <ion-col size="12" size-md="9">
        <h2>

        </h2>
        <ion-item>

        
          <ion-input type="text" value="" [(ngModel)]="descripcion"
            clearInput placeholder="Descripcion"></ion-input>
        </ion-item>
        <ion-item>
         
          <ion-input type="text" value="" [(ngModel)]="stock"
            clearInput placeholder="stock" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>

            <ion-button

              size="large" (click)="CrearPRO()"
              mode="ios"
              class="btn-primary"
              shape="round"
              expand="full">Crear Producto</ion-button>

          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
